$navbar-default-bg: #1b9df8;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#logo:hover {
    color: #FFF;
    text-decoration: none;
}

.jumbotron {
    background-image: asset-url('sample-bg.png');
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-description {
    border-top: 1px solid #eaeaea;
    padding: 15px 0;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover{
    color: #222;
}

footer small{
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}