<div class="container">
    <footer class="small">
        <small>Copyright &copy; Will Knowles Awesome Learning Experience, 2017</small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
        </ul>
    </nav>
    </footer>
</div>